<app-navbar></app-navbar>
<html>
<head>
 

</head>
<body class="color">
  
<div class="flex  items-center justify-center min-h-screen">
  <form (ngSubmit)="onSubmit()" class="bg-white p-6 border-2 rounded shadow-md w-full max-w-sm">
    <h2 class="text-2xl text-indigo-950 font-bold mb-4 text-center">Register</h2>

    <div class="mb-4">
      <label class="block text-gray-700">Name</label>
      <input type="text" [(ngModel)]="user.name" name="name" required class="w-full px-3 py-2 border rounded" />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700">Email</label>
      <input type="email" [(ngModel)]="user.email" name="email" required class="w-full px-3 py-2 border rounded" />
    </div>

    <div class="mb-4">
      <label class="block text-gray-700">Password</label>
      <input type="password" [(ngModel)]="user.password" name="password" required class="w-full px-3 py-2 border rounded" />
    </div>

    <button type="submit" class="w-full bg-indigo-950 text-white py-2 rounded hover:bg-indigo-700">
      Register
    </button>
    <div >
      <a routerLink="/login" class="flex underline text-zinc-500 py-2" >already have an account</a>
    </div>
  </form>
</div>


</body>
</html>
<app-footer></app-footer>
<router-outlet></router-outlet>