 body {
            font-family: 'Poppins', sans-serif;

        }
        .hero-gradient {
            background: linear-gradient(135deg, #0f0c29 20%, #302b63 50%, #24243e 50%);
        }
       
    
        .blob {
            position: absolute;
            opacity: 0.1;
            z-index: -1;
        }

.color{
     background: linear-gradient(135deg, #0f0c29 20%, #302b63 50%, #24243e 50%);
}

