<nav class="bg-white shadow-md">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex items-center">
                    <div class="flex-shrink-0 flex items-center">
                        <span class="text-indigo-950 font-bold text-2xl">VoyageWise</span>
                    </div>
                </div>
                <div class="hidden md:flex items-center space-x-8">
                    <a routerLink="/home" class="text-indigo-950 hover:text-indigo-800 px-3 py-2 rounded-md text-md font-medium">Home</a>
                    <a routerLink="/mybooking" class="text-indigo-950 hover:text-indigo-800 px-3 py-2 rounded-md text-md font-medium">Bookings</a>
                    <a href="#services" class="text-indigo-950 hover:text-indigo-800 px-3 py-2 rounded-md text-md font-medium">Services</a>
                    <a href="#contact" class="nav-link smoothScroll text-indigo-950 hover:text-indigo-800 px-3 py-2 rounded-md text-md font-medium">Contact</a>
                </div>
                <div class="flex items-center">
                    <button routerLink="/login" class="bg-indigo-950 hover:bg-blue-800 text-white px-4 py-2 rounded-md text-sm font-medium">Sign Up</button>
                    <button (click)="logout()" class=" text-indigo-950 px-4 py-2 transition"> Logout
                     </button>


                </div>
            </div>
        </div>
    </nav>